<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
	<meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="MobileOptimized" content="320"/>
	<meta name="author" content="Brian Jones" />
	<meta name="robots" content="all" />

	<title>{{ page.title }}</title>
	
	<style type="text/css" media="all">
		@import "/static/css/mojobojo.css";
		@import "/static/css/syntax.css";
		@import "/static/css/g.css";
	</style>	
</head>

<body id="main">

	<div id="content">
		<div id="header" align="center">
			<h1><a href="/" title="yongxiwang.github.io">{{ site.title }}</a></h1>
		</div>
		
		<div id="content_body">
			{{ content }}
		</div>

	</div>
	
</body>
</html>